#SQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=blogart26

#APP SETTINGS
APP_DEBUG=true

#RECAPTCHA v3
RECAPTCHA_SITE_KEY=6LezC50sAAAAAEAAkaYzVp8zVQMTsIAFPvU7xLt5
RECAPTCHA_SECRET_KEY=6LezC50sAAAAAKXF-hWlIgyT0FMCRfDaocmnL1tW