#SQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=blogart

#APP SETTINGS
APP_DEBUG=true

#RECAPTCHA v3
RECAPTCHA_SITE_KEY=6LeQc2EsAAAAALVsc6L3tGUFC4OSorfdYV5T0IsU
RECAPTCHA_SECRET_KEY=6LeQc2EsAAAAACRp_KKA-IdJh_ZSqAm3xMv8Hms3